@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

@font-face {
  font-family: "The Seasons";
  src: url("../assets//fonts/the-seasons-regular.ttf")
    format("opentype");
}

@font-face {
  font-family: "Akzidenz-Grotesk";
  src: url("../assets//fonts/Aktiv\ Grotesk/AktivGrotesk-Regular.ttf")
    format("opentype");
}

/* @font-face {
  font-family: "Work Sans";
  src: url("/fonts/WorkSans-Regular.ttf")
    format("truetype");
} */